<section class="py-5">
    <div class="container py-xl-3 py-lg-2">
        <div class="row align-items-center">
            <div class="mb-3 mb-lg-0 col-xxl-5 col-lg-6">
                <div class="d-flex flex-column mb-3 mb-lg-0 gap-4">
                    <div>
                        <h2 class="mb-3 fw-semibold display-4">{{product.title}}</h2>
                        <p class="lead">{{product.description}}</p>
                        <p class="lead" style="font-weight:500">{{product.price}} Vnđ</p>
                    </div>
                    <div class="d-flex flex-row align-items-center gap-3">
                        <a href="" class="product-payment-btn btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#payment-show-modal">MUA NGAY</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-xxl-1">
                <div class="position-relative ms-lg-8 ms-xl-0 me-xl-7">
                    <img class="w-100 rounded-3" src="{{product.imageUrl}}" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="payment-show-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content align-item-center">
            <div class="modal-header">
                <h5 class="modal-title">Thanh toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center ">
                <p class="lead" style="font-weight:500"><span id="paid-price">
                        Số tiền: {{product.price}} Vnđ
                    </span></p>
                <del class="text-body-tertiary ms-1">Giá gốc: {{sum 1 product.price }}</del>
                <p>STK: 00005457339 TP Bank</p>
                <p><span id="paid-content">Nội dung chuyển khoản:</span></p>
                <div>
                    <img width="450" class="qr-img"
                        src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg"
                        alt="QR chuyển tiền">

                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" data-dismiss="modal" type="button" class="btn btn-danger">Hủy</button>
                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button> --}}
            </div>
        </div>
    </div>
</div>

<script>
    const btnPaymentProduct = document.querySelector('.product-payment-btn');
    const getPaidPrice = document.getElementById('paid-price');
    const getPaidDescription = document.getElementById('paid-content');
    btnPaymentProduct.onclick = function () {
        getPaidPrice
    }  
</script>