<main class="center">
    <h1>{{course.title}}</h1>
    <div class="image">
        <img src="{{course.imageUrl}}" alt="{{course.title}}">
    </div>
    <h2>{{course.price}} VNÄ</h2>
    <p class="product-detail-description">{{course.description}}</p>
    <button>
        <a class="product-item-btn" href="/buy-nick">Mua nick</a>
    </button>
</main>
