<div class="mt-4">
    <div class="row">
        {{#each product}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item" style="margin-top: 20px">
                <a href="/products/{{this.slug}}">
                    <img class="card-img-top" src="{{this.imageUrl}}" alt="{{this.title}}">

                </a>
                <div class="card-body">
                    <a href="/products/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>

                    </a>
                    <p class="card-text">{{this.description}}</p>

                    <a href="/payment" class="btn btn-primary">Mua nick</a>
                </div>
            </div>
        </div>
        

        {{/each}}



    </div>
</div>
