<style>
    .btn-trash {
        color: red;
        --background: #283044;
        --background-hover: #1E2235;
    }
</style>
<form class="mt-4" name="container-form" method="POST" action="/products/handle-form-actions">
    <div>
        <h3>Quản lý khóa học</h3>
        <a class="btn-trash" href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Chọn hành động --</option>
                <option value="delete">Xóa</option>

            </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Thông tin mô tả</th>
                <th scope="col" colspan="3">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.description}}</td>
                <td>{{formaterDate createdAt}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng sản phẩm nào.
                    <a href="/products/create">Đăng sản phẩm</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sản phẩm này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="productIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');

        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/products/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        });
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="productIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        });

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="productIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeAttr('disabled');
            } else {
                checkAllSubmitBtn.attr('disabled');
            }

        }
    });
</script>